
*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}
nav{
    height: 80px;
    background-color: #111315;
}
nav img{
    height: 30px;
    position: absolute;
    top:25px;
    left:3%;
}
nav ul{
    /* position: fixed; */
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}
nav ul li a{
    position: relative;
    color: white;
    font-size: 19px;
    /* font-weight: bold; */
    padding: 5px 0;
}
.getStart{
    font-size: 19px;
    padding: 5px 15px;
    background-color:#3dc6ee ;
    /* font-weight: bold; */
    border-radius: 12px;
    border:none ;    
}
nav ul li a:before{
    position: absolute;
    content:'';
    left: 0;
    bottom: 0;
    height: 2px;
    width:100%;
    background-color: #3dc6ee;
    transform: scaleX(0);
    transform-origin:right;
    transition: transform 0.4s linear;
}
nav ul li a:hover:before{
    transform: scaleX(1);
    transform-origin:left; 
}

nav ul li a > .getStart:before{
    position: absolute;
    content:'';
    left: 0;
    bottom: 0;
    height: 2px;
    width:100%;
    background-color:white;
    transform: scaleX(0);
    transform-origin:right;
    transition: transform 0.4s linear;
}

nav ul li a >.getStart:hover:before{
    transform: scaleX(1);
    transform-origin:left; 
}

label #btn,
label #cancel{
    color:white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

@media (max-width:950px){   

    nav ul li a{
        font-size: 17px;
        /* position: ; */
    }   
}

@media (max-width:769px){
    label #btn{
        display: block;
    }
    ul{
        position: fixed;
        width:100%;
        height:100vh;
        background-color: #111315;
        top:80px;
        left:100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;

    }
    nav ul li a{
        font-size: 20px;
    }
    #check:checked ~ ul{
        left: 0;
    }
    #check:checked ~ label #btn{
        display: none;
    }

    #check:checked ~ label #cancel{
        display: block;
    }
}



