#footer{
    width: 90%;
    background-color: black;
    color: rgb(230, 222, 222);
    font-size: 17px;
    
}
p{
    color: rgb(147, 147, 147);
    font-size: 15px;
}
#p1{
    padding-left: 60px;
}
#h1{
    padding-left: 60px;
}

#footer{
    display: flex;
    margin: auto;
    width: 90%;
}
#footer2{
    display: grid;
    grid-template-columns: repeat(3,1fr);

    margin: auto;
}
#last{
    width: 90%;
    margin: auto;
    background-color: black;
     
}
#last p{
    color:rgb(147, 147, 147) ;
}
@media screen and (max-width:480px){
    #footer2{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    
        margin: auto;
    }
}

@media screen  and (min-width:481px)and (max-width:768px){
    #footer2{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    
        margin: auto;
    }
}
