:root{
    --dark: rgb(17,19,20);
    --lightdark : rgb(32,43,53);
    --blue :  #3dc6ee;
    --darklight : rgb(26,27,29);
}
*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}
nav{
    height: 80px;
    background-color: var(--dark);
}
nav img{
    width:225px;
    position: absolute;
    top:15px;
    left:20px;
}
nav ul{
    
    float: right;
    margin-right: 20px;

    
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}
.navtext:hover {
    color: white;
  }
  
nav ul li a{
    position: relative;
    color: gray;
    font-size: 19px;
    /* font-weight: bold; */
    padding: 5px 0;
}
.getStart{
    font-size: 19px;
    padding: 5px 15px;
    background-color:#3dc6ee ;
    /* font-weight: bold; */
    border-radius: 12px;
    border:none ;
   
}
nav ul li a:before{
    position: absolute;
    content:'';
    left: 0;
    bottom: 0;
    height: 2px;
    width:100%;
    background-color: var(--blue);
    transform: scaleX(0);
    transform-origin:right;
    transition: transform 0.4s linear;

}
nav ul li a:hover:before{
    transform: scaleX(1);
    transform-origin:left;
  
}

nav ul li a > .getStart:before{
    position: absolute;
    content:'';
    left: 0;
    bottom: 0;
    height: 2px;
    width:100%;
    background-color:white;
    transform: scaleX(0);
    transform-origin:right;
    transition: transform 0.4s linear;

}

nav ul li a >.getStart:hover:before{
    transform: scaleX(1);
    transform-origin:left;
  
}

label #btn,
label #cancel{
    color:white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;

}
#check{
    display: none;

}

@media (max-width:950px){

    nav ul li a{
        font-size: 17px;
        /* position: ; */
    }
    
}

@media (max-width:769px){
    label #btn{
        display: block;
    }
    ul{
        position: fixed;
        width:100%;
        height:100vh;
        background-color: #111315;
        top:80px;
        left:100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;

    }
    nav ul li a{
        font-size: 20px;
    }
    #check:checked ~ ul{
        left: 0;
    }
    #check:checked ~ label #btn{
        display: none;
    }

    #check:checked ~ label #cancel{
        display: block;
    }

}
#mainheader{
    background-color: var(--dark);
}


#footer{
    width: 100%;
    background-color: var(--dark);
    color: rgb(230, 222, 222);
    font-size: 17px;
    
}
p{
    color: rgb(147, 147, 147);
    font-size: 15px;
}
#p1{
    padding-left: 60px;
}
#h1{
    padding-left: 60px;
}

#footer{
    display: flex;
    margin: auto;
    width: 100%;
}
#footer2{
    display: grid;
    grid-template-columns: repeat(3,1fr);

    margin: auto;
}
#last{
    width: 100%;
    margin: auto;
    background-color: var(--dark);
     
}
#last p{
    color:rgb(147, 147, 147) ;
}
@media screen and (max-width:480px){
    #footer2{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    
        margin: auto;
    }
}

@media screen  and (min-width:481px)and (max-width:768px){
    #footer2{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    
        margin: auto;
    }
}

#textlogin{
    position: relative;
    left: 70px;
}

#container {
    width: 30%;
    /* padding-top: 150px; */
    margin: auto;
  /* padding: 150px; */
  /* height: 90vh; */
  text-align: center;
  background-color: white;
  
}

#container h1{
    font-size: 2rem;
    /* padding-left: 5px; */
}

#container > button {
    margin: auto;
    width: 125px;
    height: 45px;
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
    margin-left: 20px;
    font-size: 1.2rem;
    
}
#login {
    margin: auto;
    width: 100%;
   
    background-color: white;
    height: 350px;
}
.loginwindow{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* height: 30vh; */
    /* margin: auto; */
    justify-content: space-evenly;
    align-items: center;
   /* width: 100%; */
   /* height: 100%; */
   text-align: left;
   border: none;
   padding-bottom: 70px;
   border-radius: 5px;
  background-color: white;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  
   
}

.loginwindow div {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    gap: 10px;
}

input {
    width: 12vw;
    height: 3vh;
}
.loginwindow button {
    width: 100px;
    height: 30px;
    margin-top: 10px;
    background-color: white;
    border: 0.5px solid black;
    border-radius: 5px;
}

.registerwindow  button {
    width: 100px;
    height: 30px;
    margin-top: 10px;
    background-color: white;
    border: 0.5px solid black;
    border-radius: 5px;
    display: block;
}

.registerwindow {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* height: 4vh; */
    text-align: left;
    margin: auto;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: -56vh;
    margin-top: 50px;
    padding-bottom: 50px;
    border-radius: 5px;
  
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
 background-color: white;

    
    
 
   
}

.registerwindow > div {
    display: flex;
    flex-direction: column;
    
    gap: 10px;

}

#container > #registerlogin1{
background-color: rgb(17,122,122);


}  


#registerform{
display: flex;
flex-direction: column;

}

input {
max-width: 300px;
padding-left: 10px;
height: 35px;
border: none;
background-color: #f5f5f5;
border-radius: 5px;
font-size: 1.1rem;
}

p{
font-size: 1.1rem;
}
label{

font-size: 1.1rem;
}

input:focus {
background-color: white;
}



@media only screen and (max-width:769px) {
    .registerwindow {
        position: relative;
        right: 90px;
        width: 300px;
        top: -350px;
    }
    
    .loginwindow{
        width: 300px;
        right: 90px;
        position: relative;
    }

    #textlogin{
        position: relative;
        left: -50px;
    }
    
}